asn1crypto==1.4.0
attrs==20.3.0
cffi==1.14.5
constantly==15.1.0
cryptography==2.2.2
enum34==1.1.10
idna==2.10
incremental==21.3.0
ipaddress==1.0.23
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==20.0.1
service-identity==18.1.0
six==1.15.0
Twisted==16.6.0
zope.interface==5.3.0